body{
  background-color: rgb(221, 219, 219);
}
.App {
  text-align: center;
}

.mobile{
  max-height: 844px;
  max-width: 390px;
}

.mobile h1{
  color: red;
}


.tablet{
  max-width: 1200px;
}

.desktop{
  max-width: 1200px;
}
.container{
  border: solid rgb(177, 171, 171);
  width: 600px;
  margin: auto;
  padding: 20px;
  border-radius: 20px;
  background-color: white;
}
.post{
  /* border: solid red; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.yoda{
  width: 52px;
}
.bar{
  width: 100%;
  background-color: rgb(210, 205, 205);
  border-radius: 22px;
  height: 32px;
}
.icons{
  /* border: solid blue; */
  display: flex;
  justify-content: space-around;
  
}
.images{
  width: 32px;
}
.red{
  display: flex;
  align-items: center;
}
.green{
  display: flex;
  align-items: center;
}
.yellow{
  display: flex;
  align-items: center;
}