.hide {
  display: none;
}
/* 11:40
PUT THIS IN APP .CSS */
.main{
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.mainLink{
  color: purple;
  text-decoration: none;
  font-size: 80px;
  font-weight: bold;
  /* margin: auto; */
}
.hide {
  display: none;
}